.intro {
  background-color: #f0e6dc;
  
}
.intro b {
  color: #d9a443
}

.intro-textcontent {
  width:1000px;
  margin-left: 250px;
  font-family: Verdana;
}




.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ending {
  background-color: #f0e6dc;
}

.ending b {
  color: #d9a443;
}

.ending-textcontent {
  width: 1000px;
  margin-left:250px;
  font-family: Verdana;
}


.container {
  width: 890px;
}

#graphic {
    padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #00897a;
  /*color: #262626;*/
  line-height: 1.2em;
}

#extra-space {
  height: 100px;
}

#vis {
  display: inline-block;
  position: sticky;
  bottom: 60px;
  /*margin-left: 300;*/
  /*z-index: 2;*/
  /*margin-left: 0;*/
  /* height: 600px; */
  
  background-color: #ddd; 
}


.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}


.subtitle {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  fill: #00897a;
  line-height: 1.2em;
}

.pArea {
  fill:#00a8c7;
}
.nArea {
  fill:#e5b700;
}

.activityText {
  font-weight: bold;
}





